- if answer.user_id == current_user.try(:id)
  %p = link_to 'Edit', edit_question_answer_path(answer.question, answer) 
  %p = link_to 'Delete', question_answer_path(answer.question, answer), method: :delete